.footer {

    // width: 100%;
    // height: 485px;
    background-color: #28313B;
    padding: 65px;
    padding-bottom: 11px;

    position: relative;


    >.Ellipse-4 {
        width: 679.6972623680065;
        height: 594.7757539858734;

        position: absolute;
        top: 0px;
        right: 0px;

        >img {
            width: 100%;
        }

    }

    >.footer-details {

        // width: 1512px;
        height: 210.78883361816406px;
        display: flex;
        justify-content: space-between;
        padding-left: 64px;

        >.footer-address {

            width: 425px;
            height: 210.78883361816406px;
            gap: 27.92px;
            display: flex;
            flex-direction: column;

            >.address {
                // border: 2px solid red;
                width: 425px;
                height: 210.78883361816406px;
                // gap: 27.92px;

                >p:nth-child(1) {
                    font-family: Roboto;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 20.94px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                }

                >p {
                    font-family: Poppins;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 15.71px;
                    line-height: 150%;
                    letter-spacing: 0%;
                    text-decoration: underline;
                    text-decoration-style: solid;
                    color: #FFFFFF;

                }

            }

            >.social-media-icons {
                width: 146.59686279296875px;
                height: 20.94240951538086px;
                gap: 10.47px;
                display: flex;
                align-content: center;
                justify-content: center;

                >a {

                    width: 20.94240951538086px;
                    height: 20.94240951538086px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

            }
        }

        >.Product-container {
            // border: 2px solid red;

            // width: 106.47826385498047px;
            height: 184.69564819335938px;
            gap: 21.57px;

            color: white;

            >div {
                font-family: Poppins;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 24.26px;
                line-height: 150%;
                letter-spacing: 0%;

            }

            >p {
                font-family: Poppins;
                font-weight: 500;
                font-style: Medium;
                font-size: 18.87px;
                line-height: 150%;
                letter-spacing: 0%;

            }




        }


        >.footer-logo {
            width: 320.25px;
            height: 126px;
            overflow: hidden;
            z-index: 10;

            >img {
                width: 100%;
            }

        }




    }


    >.footer-base {
        // border: 2px solid red;
        width: 1384px;
        height: 53px;
        // position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;
        color: white;
        margin-top: 64px;
        border-top: 1px solid #FFFFFF;

        >div {
            font-family: Roboto;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0%;
        }

        >div:nth-child(2) {
            text-decoration: underline;
            display: flex;
            gap: 24px;

        }

    }
}